---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const title = `${Astro.url.pathname.replace("/", "")} | ${SITE_TITLE}`;
const years = new Set();
posts.map((post) => years.add(post.data.pubDate.getFullYear() as number));
const yearArray = [...years].sort((a, b) => (b as number) - (a as number));
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div id="main-wrapper">
			<div id="wrapper">
				<div id="sidebar">
					<Header />
					<Footer />
				</div>
				<section id="main">
					<div class="content">
						<h1>blog</h1>
						{yearArray.map((year) =>
							<div class="year">{year}</div>
							<ul>
							{
								posts.filter((post) => post.data.pubDate.getFullYear() as number === year).map((post) => (
									<li>
										<a href=`/blog/${post.slug}/`>{post.data.title.trim()}</a>
										<FormattedDate date={post.data.pubDate}></FormattedDate>
									</li>
								))
							}
							</ul>
						)}
					</div>
				</section>
			</div>
		</div>
	</body>
</html>
